<div class="container check-scale">
    <div>
        <h1>Data Analysis</h1>
    </div>
    <hr>
    <div class="check-footer">
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            The data collected in this research study are separated into two parts which are the data collected from the
            questionnaires completed by 20 Stay Here Hostel customers and the data obtained from the interviews with 2
            customers who had visited the hostel more than one time and who had stayed at the hostel more than one week.
        </p>
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            To begin, with the data from the questionnaires, which are the general information of the respondents, the
            information about the service marketing mix (7Ps) used by Stay Here Hostel affecting the customers' decision
            to choose the hostel and the problems and recommendations from the customers, are presented as follows:
        </p>
        <pre></pre>
        <h5>General Information of the Questionnaire Respondents</h5>
        <p style="text-align:justify; clear: both;">
            According to the questionnaires, it was found that 65% of the respondents were female and the other 35% were
            male.
        </p>
        <pre></pre>
        <div>
            <h5>Figure 1 </h5>
            <pre></pre>
            <div class="row">
                <div class="col-sm">
                    <img src="../assets/f1.jpg" class="img-size" alt="">
                </div>
                <div class="col-sm">
                    <p style="text-align:justify; clear: both;">
                        <b><i>The Percentages of the Questionaire Respondents’ Ages</i></b>
                        The pie chart above shows the percentage of Stay Here
                        Hostel customers’ ages. The majority of the respondents were at the ages between 20 and 30 years
                        old
                        while a
                        small number of them were at the ages 31-35
                        and 36-40 years old. Half of the respondents were from Europe while 30% of them were from
                        America.
                        15%
                        of
                        them were from Asia and 5% were from Australia.
                    </p>
                </div>
            </div>
            <pre></pre>
            <hr>
            <pre></pre>
            <h5>Figure 2 </h5>
            <pre></pre>
            <div class="row">
                <div class="col-sm">
                    <p style="text-align:justify; clear: both;">
                        <b><i>The Number of the Questionnaire Respondents Classified by Their Career</i></b>
                        Moreover, it was found that the respondents had different careers. The questionnaire results
                        showed that there were three careers with 2 of the respondents (10%): student, state enterprise
                        employee and business owner. The 9 of customers (45%) who visited the hostel were company
                        employees whereas 5 of them (25%) quitted their job to travel as shown in Figure 2.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="../assets/f2.jpg" class="img-size" alt="">
                </div>
            </div>

            <pre></pre>
            <hr>
            <pre></pre>
            <h5>Figure 3 </h5>
            <pre></pre>
            <div class="row">
                <div class="col-sm">
                    <img src="../assets/f3.jpg" class="img-size" alt="">
                </div>
                <div class="col-sm">
                    <p style="text-align:justify; clear: both;">
                        <b><i>The Percentage of the Questionnaire Respondents 'Monthly Income</i></b>
                        Figure 3 shows the survey that the average monthly income of the respondents was more than
                        45,000 baht (45%) while 20% had the average monthly income between 15,000-30,000 baht. Another
                        20% of them had the average monthly income between 30,001 - 45,000. Only 15% of them had the
                        income less than 15,000 baht per month.
                    </p>
                </div>
            </div>

            <pre></pre>
            <hr>
            <pre></pre>
            <h5>Figure 4 </h5>
            <pre></pre>
            <div class="row">
                <div class="col-sm">
                    <p style="text-align:justify; clear: both;">
                        <b><i>The Number of the Questionnaire Respondents Classified by Their Education</i></b>
                        The questionnaire results also shows that the majority of the respondents had a Bachelor’s
                        degree as their highest education (40%). 6 of respondents (30%) got Diploma while 4 of them
                        (20%) got a Master’s degree. Only 2 of the respondents (10%) were high-school graduated.
                    </p>
                </div>
                <div class="col-sm">
                    <img src="../assets/f4.jpg" class="img-size" alt="">
                </div>
            </div>

            <pre></pre>
            <hr>
            <pre></pre>
            <h5>Figure 5 </h5>
            <pre></pre>
            <div class="row">
                <div class="col-sm">
                    <img src="../assets/f5.jpg" class="img-size" alt="">
                </div>
                <div class="col-sm">
                    <p style="text-align:justify; clear: both;">
                        <b><i>The Percentage of the Way that the Respondents Got to Know the Stay Here Hostel</i></b>
                        In addition, the questionnaire results revealed that almost half of the respondents knew the
                        hostel from HOSTEL WORLD and another half kew it from BOOKING.com. 10% of the respondents knew
                        the hostel from their friends and only 5% of them found the hostel from a blog as shown in
                        Figure 5. Furthermore, the study found that the 35% of respondents stayed at the hostel for 3
                        nights, and 20% of them stayed at the hostel for 4 nights. 15% of the respondents stayed there
                        for 1 night. The small groups of them stayed at the hostel for 3,5 or 6 night.
                    </p>
                </div>
            </div>
            <pre></pre>
            <hr>
            <pre></pre>
            <h5>Table 1 </h5>
            <div>
                <p style="text-align:justify; clear: both;">
                    <b><i>The Opinions of the Questionnaire Respondents on the Factors of the Service Marketing Mix
                            (7Ps) Affecting Their Decision to Choose Stay Here Hostel</i></b>
                </p>
                <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Position Column -->
                        <ng-container matColumnDef="no">
                            <th mat-header-cell *matHeaderCellDef  [attr.rowspan]="">
                                Factors of the Service Marketing Mix (7Ps) <br>Affecting Customers’ Decision to
                                <br>Choose Stay Here Hostel
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                        </ng-container>
                        <ng-container matColumnDef="header-row-first-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" [attr.rowspan]="1"> </th>
                        </ng-container>
                        <ng-container matColumnDef="header-row-second-group">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="6"> Level of Agreement </th>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="strongly_agree">
                            <th mat-header-cell *matHeaderCellDef> Strongly agree 5 </th>
                            <td mat-cell *matCellDef="let element"> {{element.strongly_agree}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="agree">
                            <th mat-header-cell *matHeaderCellDef> Agree 4 </th>
                            <td mat-cell *matCellDef="let element"> {{element.agree}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="undecided">
                            <th mat-header-cell *matHeaderCellDef> Undecided 3 </th>
                            <td mat-cell *matCellDef="let element"> {{element.undecided}} </td>
                        </ng-container>

                        <ng-container matColumnDef="disagree">
                            <th mat-header-cell *matHeaderCellDef> Disagree 2 </th>
                            <td mat-cell *matCellDef="let element"> {{element.disagree}} </td>
                        </ng-container>

                        <ng-container matColumnDef="strongly_disagree">
                            <th mat-header-cell *matHeaderCellDef> Strongly <br>disagree 1 </th>
                            <td mat-cell *matCellDef="let element"> {{element.strongly_disagree}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mean">
                            <th mat-header-cell *matHeaderCellDef> Mean Sccore</th>
                            <td mat-cell *matCellDef="let element"> {{element.mean}} </td>
                        </ng-container>



                        <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group']"></tr>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <div style="padding-top: 50px;" align="center">
                    <h4>Criteria for evaluating the influence of the respondents</h4>
                    <pre></pre>
                    <table class="table-check" align="center">
                        <tr>
                            <td style="text-align:left"><strong>Means score </strong></td>
                            <td style="text-align:left"><strong></strong></td>
                            <td style="text-align:right"><strong>Meaning</strong></td>
                        </tr>
                        <tr>
                            <td style="text-align:left">1.00 - 1.50</td>
                            <td style="text-align:left">=</td>
                            <td style="text-align:right">Least influential</td>
                        </tr>
                        <tr>
                            <td style="text-align:left">1.51 - 2.50</td>
                            <td style="text-align:left">=</td>
                            <td style="text-align:right">A bit influential</td>
                        </tr>
                        <tr>
                            <td style="text-align:left">2.51 - 3.50</td>
                            <td style="text-align:left">=</td>
                            <td style="text-align:right">Fairly influential</td>
                        </tr>
                        <tr>
                            <td style="text-align:left">3.51 - 4.50</td>
                            <td style="text-align:left">=</td>
                            <td style="text-align:right">Very influential</td>
                        </tr>
                        <tr>
                            <td style="text-align:left">4.51 - 5.00</td>
                            <td style="text-align:left">=</td>
                            <td style="text-align:right">Most influential</td>
                        </tr>
                    </table>
                    <pre></pre>
                    <hr>
                    <p align="left" style="text-align:justify; clear: both;">
                        According to the table 1, the result shows that all of the factors in the Service Marketing Mix
                        used by Stay Here Hostel including people, physical evidence, process, place, price, product and
                        promotion influence the customers to choose the hostel respectively. It reveal that there are
                        three factors which are people, physical evidence and process were rated to be "the most
                        influential" factor affecting their decision. Moreover, the four factors which are place, price,
                        product and promotion were rated to be "Very influential" level for them to choose Stay Here
                        Hostel.
                    </p>
                </div>
            </div>
            <hr>
            <pre></pre>
            <h5>Table 2 </h5>
            <div>
                <p style="text-align:justify; clear: both;">
                    <b><i>The Ranks of Influential Service Marketing Mix Strategies used by the hostel in the Views of
                            Respondents </i></b>
                </p>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="service_mix">
                            <th mat-header-cell *matHeaderCellDef> Service Marketing Mix </th>
                            <td mat-cell *matCellDef="let element"> {{element.service_mix}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="score">
                            <th mat-header-cell *matHeaderCellDef> Score </th>
                            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="rank">
                            <th mat-header-cell *matHeaderCellDef> Rank </th>
                            <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>
                <pre></pre>
                <pre></pre>
                <p style="text-align:justify; clear: both;">
                    From the table 2, it can be seen that the most significant factor affecting the respondents to
                    choose the hostel is the price strategy followed by the place, product, people, physical evidence,
                    and promotion respectively and the least significant factor affecting the decision of the
                    respondents is the process strategy.
                </p>
            </div>
            <hr>
            <pre></pre>
            <h5>The Information about the Problems and Recommendations Concerning the Stay Here Hostel Service Obtained
                from the Questionaire Respondents.</h5>
            <p style="text-align:justify; clear: both; padding-top: 10px;">
                From the questionnaires, there were only 6 respondents from all the 20 respondents who gave comments on
                the problems they found. Those problems could be divided into 2 factors including the problems with the
                place and with the people. To begin, The respondents revealed that the breakfast which was provide with
                the room rent was not various. Some respondents stated that the room should be made as wide as Room
                number 2 and inside the room there should be provide curtains for every bed. One guest also complained
                about the water in the restroom. The guest complained that the shower in the restroom was cold and it
                took too long time to make it warm. The next problem was people factor. A respondent commented that some
                staff could not speak English; they could not give the information about the places nearby as well as it
                should be.
            </p>
            <hr>
            <pre></pre>
            <i>
                <h4>The Data Collected from the In-depth Interviews with a Customer who Had Stayed at the Hostel More
                    Than One Time and a Customer who Had Stayed at the Hostel More Than a Week </h4>
            </i>

            <h5 style="padding-top: 30px;">The Data from the First Interviewee</h5>
            <p style="text-align:justify; clear: both; padding-top: 10px;">
                The first interviewee was Rikiya. He was a Japanese vlogger who had travelled many countries. This wass
                his first time in Chiang Mai and his first time staying at Stay Here Hostel. He had stayed at the hostel
                more than one week. He said that he found the hostel from the website named Booking.com.
            </p>

            <p style="text-align:justify; clear: both; padding-top: 10px;">
                He was asked to specify the significant factors affecting his decision to choose Stay Here Hostel to be
                the accommodation for this trip. He said that he wanted a hostel which had a private room at a cheap
                price and was located in the old town area. He also was asked about the factors that might affect his
                decision based on the service marketing strategies (7Ps). He replied that he liked the decoration and
                the facilities of the hostel because the hostel provided working space downstairs; the price was
                reasonable. The location was also very nice because it was close to the public transport hub and tourist
                spot. However, he said that the promotion of the hostel was hardly found and he saw the hostel only on
                Booking.com which was the website collecting the hostels all over the world for backpackers. He also
                stated that the process of making a reservation and check-in and check-out were very easy. Staff were
                friendly, cozy and easy to talk to and they gave him all the information that he had to know. However,
                when the interviewer asked him what was the most important factor making him decide to stay at the
                hostel, his answer was the picture of the hostel in Booking.com. So, it can be concluded that the
                promotion of the hostel in terms of the advertising was the most influential factor affecting him to
                choose Stay Here Hostel.
            </p>

            <h5 style="padding-top: 30px;">The Data from the Second Interviewee</h5>
            <p style="text-align:justify; clear: both; padding-top: 10px;">
                The second interviewee was Zach, a marketer from United Kingdom. This was his second time staying at
                Stay Here Hostel. At first, he found the hostel from the website named HOSTEL WORLD which is a website
                collecting hostels around the world to serve backpackers. He first chose the hostel because he found it
                on HOSTEL WORLD and he found that the hostel was close to the airport and had many good reviews with
                beautiful pictures in the reviews of the guests who visited the hostel before. He also decided to come
                to stay at the hostel because of the staff. He said that the staff are very friendly. They always made
                sure that customers were feeling well.
            </p>

            <p style="text-align:justify; clear: both; padding-top: 10px;">
                After the general questions, Zach was asked to reply the questions about the service marketing mix (7Ps)
                used by the hostel. With regard to the product or the hostel itself, he said that the hostel was very
                beautiful and, he liked the interior and the facilities of the hostel as well. In terms of the price, he
                said that the price was a bit cheap but what he got from here was really worth. He said about the
                location of the hostel that it was a bit hidden. When he needed a taxi to the hostel, many drivers
                refused to take him there. He also suggested that the hostel might have a problem about the location on
                Google Map.When asked about the hostel advertisement, he said that he never seen the advertisement of
                the hostel. He talked about the staff that they were very good and served him with hospitality. The most
                significant factor making him to stay at the hostel for the second time is the staff. He said that he
                can talk with everyone in the hostel. The staff always asked him “Where are you going?” , “ Where have
                you been?” that made him feel good.
            </p>

        </div>
    </div>

</div>