.check-scale {
    padding-top: 162px;
}

.container {
    height: 100vh;
}

body {
    height: 100%;
}

.img-size {
    width: 100%;
}

.check-footer {
    padding-bottom: 100px;
}

@media (max-width: 800px) {

    .check-scale {
        padding-top: 150px;
    }

    .img-size {
        width: 100%;
        padding-bottom: 30px;
    }

    .check-footer {
        padding-bottom: 100px;
    }

}

@media (max-width: 576px) {

    .check-scale {
        padding-top: 100px;
    }

}

@media (min-height: 1000px) {
    .container {
        height: 100vh;
    }
}