<div class="container check-scale">
    <div>
        <h1>Materials and Method</h1>
    </div>
    <hr>
    <div class="check-footer">
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            The first data were obtained from questionnaires for 20 of both Thai and foreign male and female customers
            of Stay Here Hostel. The questionnaires consisted of 3 parts: general information about customers, question
            related to service marketing mix (7Ps) applying on Stay Here Hostel, and questions asking for the customers’
            suggestions and comments concerning the use of the service marketing mix strategies used by Stay Here
            Hostel.
        </p>
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            The second data will be collected from a set of questions about Stay Here Hostel’ service marketing mix were
            used in the interviews with 2 customers who visited Stay Here Hostel more than once.
        </p>

    </div>
</div>