<div class="container check-scale">
    <div>
        <h1>Rationale & Purpose </h1>
        <hr>
        <div style="text-align:justify; clear: both;"><img src="../assets/3.longshotJPG.jpg"
                style="margin: 5px 20px 0 0;" class="img-fluid img-size" ALIGN="left" alt="">&nbsp;&nbsp;Thailand has
            become
            tourist
            attraction for a long time especially Chiang Mai which welcomed millions tourists every year. The
            accommodation is a necessary part of a trip for travelers and hostels have become very popular among
            backpackers who want a low budget accommodation in a good location. Stay Here Hostel is a hostel in Chiang
            Mai which applied the service marketing mix (7Ps) welcomed many customers in 2019. However,
            there are many brand-new hostel in Chiang Mai. To be a leader of the market,
            the entrepreneurs have to create the strategy to influent the customers to choose their hostel. It might be
            better if the entrepreneurs know the customer's expectation and what influent them to select the
            accommodation. These results can lead to the interesting and effective strategy of the hostel. Therefore,
            this research aimed to study the effectiveness of the service marketing mix strategies used by Stay Here
            Hostel. To complete this research study,
            the following guiding questions were then generated.
        </div>
    </div>

    <div style="padding-bottom:10px;">
        <pre></pre>
        <pre></pre>
        <h4>Research Questions</h4>
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            <b >Main-Research Question: </b>Does the service marketing mix (7Ps) affect customers’ decision to choose Stay Here
            hosel?
        </p>
        <p style="text-align:justify; clear: both;">
            <b>Sub-research Question 1:</b> What are significant factors from service marketing mix (7Ps) affecting customer’s
            decision to choose Stay Here hostel?
        </p>
        <p style="text-align:justify; clear: both;">
            <b>Sub-research Question 2:</b> Which components of the Marketing Mix strategies (7Ps) is the most effective
            affecting
            customers’ decision to purchase the service?
        </p>
        <p style="text-align:justify; clear: both;">
            <b>Sub-research Question 3:</b> Which components of the marketing mix strategies (7Ps) is the least effective
            affecting
            customers’ decision to purchase the service.
        </p>
    </div>
    <div class="check-footer">
        <gallery [metadataUri]="'../assets/data.json'"></gallery>
    </div>
</div>