<div class="container check-scale">
    <div>
        <h1>Conclusion</h1>
    </div>
    <hr>
    <div class="check-footer">
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            The research results show that all of the factors in the service marketing mix which are people, physical
            evidence, process, place, price, product and promotion that were used by Stay Here Hostel influence the
            questionnaire respondents respectively to choose the hostel.
            It can be said that all of the factors in service marketing mix strategy used by stay here hostel is
            effective. However, when asked the respondents to arrange the number from 1-7 (1 is the most significant
            factor and 7 is the least significant factor respectively). The result shows that the most significant
            factor for them to choose the hostel is price and the least significant factor is process. The contrast of
            these results can be concluded that the customers pay the most attention to the price of the hostel but the
            price strategy of the hostel was rated only very influential. Therefore, the price strategy used by Stay
            Here Hostel was not effective enough as well as the place and the product strategy. On the second part, the
            respondents claimed that the cozy photo of the hostel and friendly staff affect their decision the most to
            stay in the hostel in a long time and want to come back to stay again. From these two parts of the result,
            the most effective strategy used by Stay Here Hostel is people and the hostel should improve the price,
            place, product strategies due to they are the significant factors for customers to choose the hostel.

        </p>

    </div>
</div>