<div class="container check-scale">
    <div>
        <h1>The Service Marketing Mix (7Ps) </h1>
        <hr>
        <img src="../assets/IMG_5133.JPG" class="img img-size" alt="">
    </div>
    <hr>
    <div class="check-footer">
        <pre></pre>
        <p style="text-align:justify; clear: both;">
            The service marketing mix (7Ps) is a marketing strategy tool used to influent the buyers to purchase the
            service and to create highest level of customer's satisfaction. This marketing tool refers to product,
            price, place, promotion, physical evidence, process and people.
        </p>
        <pre></pre>
        <h5>Product Strategy </h5>
        <p style="text-align:justify; clear: both;">
            It can be a product or service that is offered to customers to meet their requirement or satisfy their need
            by company. A product is produced with a production cost and it will be sold to the target customers at
            certain price.
        </p>
        <pre></pre>
        <h5>Price Strategy</h5>
        <p style="text-align:justify; clear: both;">
            It is the method companies use to price their product or service. Almost of the companies price their
            product and service based on the production cost, labor and advertising expense and then calculate the
            percentage. There are many price strategy used nowadays such as the various price of the same core product,
            seasonal discount and convenience way to make a purchase.
        </p>
        <pre></pre>
        <h5>Place Strategy</h5>
        <p style="text-align:justify; clear: both;">
            This strategy can be both location and distribution that companies use to make the target customers easily
            access the product or service. It might be said that the place strategy can be the good location and the
            contribution where the customers can access the product, get information, and purchase it at the same place.
        </p>
        <pre></pre>
        <h5>Promotion Strategy </h5>
        <p style="text-align:justify; clear: both;">
            This strategy is a part of marketing strategy which tries to inform target customer what companies are
            selling, what promotion they are doing. Moreover, this strategy can help persuade customers to satisfy the
            product and company. It can build the image of the company to reach the expectation of the customers.
        </p>
        <pre></pre>
        <h5>Process Strategy</h5>
        <p style="text-align:justify; clear: both;">
            The process strategy is an organization’s approach to transforming resources into the goods and service. It
            aims to build a production process that meets customer requirements and produce specifications within the
            cost and other managerial constraints.
        </p>
        <pre></pre>
        <h5>People Strategy </h5>
        <p style="text-align:justify; clear: both;">
            People refers to the staff and scale people who work for the company, loyal customers, and regular
            customers. It is considered to be important to a business because when you provide an excellent customer
            service, you can create a positive experience for your customers and it also affects to your brand.
            Moreover, if the customers appreciate what you have done, they will spread the words about your excellent
            service
        </p>
        <pre></pre>
        <h5>Physical Evidence</h5>
        <p style="text-align:justify; clear: both;">
            The physical evidence refers to everything that your customers see and interact with your business including
            the physical environment where you provide the product or service, the layout or interior design, packaging
            and branding. The physical evidence is a visible element which includes where the service is provided, and
            where the company and the customers have interaction together. It can be tangible facilities that give the
            customer information, such as service communication.
        </p>

    </div>
</div>