<ngx-ui-loader></ngx-ui-loader>
<mat-sidenav-container class="example-container ">
  <mat-sidenav #sidenav class="sidenav">
    <nav class="navbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </nav>
    <div class="container">
      <div class="row justify-content-center align-items-center menu-padding">
        <mat-list role="list" >
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>home</mat-icon> <a routerLink="/" (click)="sidenav.toggle()">Home</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>help</mat-icon> <a routerLink='/rationale'
              (click)="sidenav.toggle()">Rationale & Purpose</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>data_usage</mat-icon> <a routerLink='/7ps' (click)="sidenav.toggle()">The
              Service Marketing Mix (7Ps)</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>layers</mat-icon> <a routerLink='/materials'
              (click)="sidenav.toggle()">Material & Methods</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>developer_mode</mat-icon> <a routerLink='/data-analysis'
              (click)="sidenav.toggle()">Data Analysis</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon mat-list-icon>info</mat-icon> <a routerLink="/conclusion"
              (click)="sidenav.toggle()">Conclusion</a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-light bg-light  p-3 mb-5 bg-white  shadow-sm fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3 with-icon">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="col-9 check-display">
            <img src="../assets/logo.jpg" width="100" height="100" class="d-inline-block align-top" alt="">
          </div>
        </div>

        <a class="navbar-brand check-display" routerLink='/'>
          <h3>STAY HERE HOSTEL CHAINGMAI</h3>

        </a>
      </div>
    </nav>
    <router-outlet>
    </router-outlet>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
      <div class="container text-center">
        <small>Copyright &copy; STAY HERE HOSTEL CHAINGMAI</small>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
